@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background-color: #151722;
}

.noisy-background {
    background-color: #151722;
    background-image: radial-gradient(
            circle,
            rgba(0, 255, 0, 0.3) 20px,
            transparent 40px
        ),
        radial-gradient(circle, rgba(0, 255, 255, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 128, 128, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 0, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 255, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 128, 128, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 0, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 255, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 128, 128, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 0, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 255, 255, 0.3) 20px, transparent 40px),
        radial-gradient(circle, rgba(0, 128, 128, 0.3) 20px, transparent 40px);
    background-size: 400px 400px;
    background-position: 50% 90%, 30% 70%, 10% 50%, 80% 90%, 60% 70%, 40% 50%,
        20% 30%, 90% 10%, 70% 80%, 50% 60%, 30% 40%, 10% 20%;
}
